/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2025
 *
 */

 body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #BBBBBB;
 }

 header{
    height: 72px;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    background-color: #333333;
 }

 header nav {
    display: flex;
    gap: 2rem;
 }

 header nav a{
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    color: #00B8D4
 }

 header nav a.active{
    color: #b2f5ea;
    font-weight: 700;
 }
 header nav a:hover {
    color: #ffffff;
 }

 footer {
  background: #333333;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 1rem;        /* 16px */
  font-weight: 400;
  text-align: center;
  height: 48px;
  display: flex;
  align-items: center;    
  justify-content: center;  
  margin-top: auto;   
}
footer p {
  margin: 0;
}

main {
    padding:128px 0.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

}
main > * {
     max-width: 52rem; 
}
main h1.intro { 
    font-size: 3rem; 
    font-weight:700; 
    text-align:center;
    margin-top: 0;
    margin-bottom: 16px;
}

main p, details summary { 
  font-size: 1rem;               
  color: #94a3b8;                
  text-align: center;
  margin: 0 0.5rem;
  margin-top: 0;
}

details summary { 
    list-style: none; 
}
details summary::-webkit-details-marker {
     display:none; 
    }
details summary::marker { 
    content:""; 
}
details[open] { 
  margin-bottom: 0.5rem;
}
figure { 
    margin: 0.75rem auto 0; width: 520px; 
}  
figure img { 
    width: 100%; height: auto; display:block; 
}

.profile img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.profile{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin-bottom: 32px;
}
.avatar img {
  width: 100%;             
  height: 100%;            
  object-fit: cover;       
  object-position: center; 

  display: block;          
}

.intro{
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;         
    color: #333333;          
    text-align: center;      
    margin: 5px 0;
}

.intro-sub{
  font-family: inter, sans-serif; 
  font-size: 24px;       
  font-weight: 400;        
  line-height: 1;          
  color: #333333;          
  text-align: center;      
  margin: 5px 0 16px;  
}

.about-button{
  display: inline-flex;
  font-size: 1rem;        
  font-weight: 700;
  color: #007EA8;
  background: white;
  border: 2px solid #007EA8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  width: 126px;  
  height: 38px; 
  margin-top: 24px; 
  padding: 0;
}
.about-button:hover{
  background: #007EA8;       
  border-color: white;
  color: white;
}



