/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2025
 *
 */

 header{
    height: 71px;
    padding: 8px 0.5rem;
    display: flex;
    align-items: center;
    background: #083b40;
    border-top: 1px solid #0a6b70;
    border-bottom: 1px solid #0a6b70;
    width: 100%;
 }

 header nav {
    display: flex;
    gap: 2rem;
 }

 header nav a{
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    color: #00B8D4
 }

 header nav a.active{
    color: #b2f5ea;
    font-weight: 700;
 }
 header nav a:hover {
    color: #ffffff;
 }

 footer {
  background: #333333;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 1rem;        /* 16px */
  font-weight: 400;
  text-align: center;
  height: 48px;
  display: flex;
  align-items: center;    /* vertical centering */
  justify-content: center;
  padding: 0 0.5rem;      /* small side breathing room */
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;

}
main > * {
     max-width: 52rem; 
}
main h1 { 
    font-size: 3rem; 
    font-weight:700; 
    text-align:center;
    margin: 1rem 0 0.25rem; 
}
main p, details summary { 
  font-size: 1rem;               
  color: #94a3b8;                
  text-align: center;
  margin: 0.25rem 0 0.75rem;
}

details summary { 
    list-style: none; 
}
details summary::-webkit-details-marker {
     display:none; 
    }
details summary::marker { 
    content:""; 
}
details[open] { 
  margin-bottom: 0.5rem;
}
figure { 
    margin: 0.75rem auto 0; width: 520px; 
}  
figure img { 
    width: 100%; height: auto; display:block; 
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 100px;      
    overflow: hidden;        
    margin: 2rem auto 1rem;  
}
.avatar img {
  width: 100%;             
  height: 100%;            
  object-fit: cover;       
  object-position: center; 

  display: block;          
}

.intro{
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;         
    color: #333333;          
    text-align: center;      
    margin: 5px 0;
}

.intro-sub{
  font-family: inter, sans-serif; 
  font-size: 24px;       
  font-weight: 400;        
  line-height: 1;          
  color: #333333;          
  text-align: center;      
  margin: 5px 0 16px;  
}

about-button{
  display: inline-block;
  font-size: 1rem;        
  font-weight: 700;
  color: rgb(0, 126, 168);
  background: white;
  border: 2px solid #007EA8;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  width: 126px;  
  height: 38px;  
}
about-button :hover{
  background: #007EA8;       
  border-color: white;
  color: white;
}



