 .current{
    text-decoration: underline;
    text-decoration-color: #e8797f;
    text-decoration-thickness: 2px;
 }

 .navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
 }

 .navbar li{
    margin: 0;
    list-style: none;
 }

 .hero-container{
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
 }

 #hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
#hero{
    display: flex;
}
 #section_title{
    font-size: 30px;
 }

 #courses-section{
    display: flex;
    align-items: center;
    

 }

 #courses-section li{
    list-style: disc;
    font-size: 15px;
 }

 form{
    display: flex;
    flex-direction: column;
 }

 input[type="submit"]{
    background-color: #636161;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
 }

 .contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
 }